{erl_opts, [debug_info]}.
{deps, [argparse]}.

{shell, [
    {apps, [erlperf]}
]}.

{dist_node, [
    {sname, erlperf}
]}.

{escript_incl_apps, [argparse]}.
{escript_emu_args, "%%! +pc unicode -escript main erlperf_cli\n"}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{ct_opts, [
    {ct_hooks, [cth_surefire]},
    {keep_logs, 1}
]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
    escriptize,
    "cp \"$REBAR_BUILD_DIR/bin/erlperf\" ./erlperf"},
    {"win32",
        escriptize,
        "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./ erlperf* "
        "/njs /njh /nfl /ndl & exit /b 0"} % silence things
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {extras, [
        {"CHANGELOG.md", #{title => "Changelog"}},
        {"LICENSE.md", #{title => "License"}},
        {"README.md", #{title => "Overview"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/max-au/erlperf"}
]}.
